.routes-list
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: space-around
  align-items: flex-start
  flex-wrap: wrap
  .route-info
    cursor: pointer
    border-radius: 10px
    border: 1px solid #909090
    margin: 1rem
    height: auto
    width: 300px
    background-color: #fff
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.12)
    &:hover
      background-color: #eee
    &__status
      padding: 1rem
      border-bottom: 1px solid #909090
    &__workers-list
      ul
        list-style-type: none
        margin: 0
        padding: 0
      &__item
        padding: .5rem 1rem
    &__date
      border-top: 1px solid #909090
      text-align: center
      font-family: monospace
      padding: 1rem

.drive-section
  min-height: calc(100vh - 120px)
  &>div
    height: calc(100vh - 120px)

.drive-map__control
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  &__speed
    font-size: 90px
    position: absolute
    bottom: 6rem
    right: 6rem
    font-size: 75px
    font-weight: bold
    color: #7edc28
    text-shadow: 0px 2px 10px black
    z-index: 999
    cursor: default
    user-select: none
    &::after
      content: 'km/h'
      font-size: 35px
      position: absolute
      left: 0%
      top: 100%
    &::before
      content: ''
      background-color: #fff
      opacity: 50%
      border-radius: 50%
      width: 170px
      height: 170px
      position: absolute
      border: 2px solid black
      left: -47px
      top: -17px
      z-index: -1
  &__road-way
    position: absolute
    top: 1rem
    left: 50%
    user-select: none
    cursor: default
    font-size: 75px
    font-weight: bold
    color: #7edc28
    text-shadow: 0px 2px 10px black
    transform: translateX(-50%)
    &::after
      content: ''
      display: inline-block
      width: 100px
      height: 100px
      background-image: url(img/way.png)
      background-size: auto 100%
    &.right
      &::after
        background-position: center
    &.left
      &::after
        background-position: left
    &.throught
      &::after
        opacity: 0

.drive-point-details
  position: absolute
  right: 0
  top: 100px
  z-index: 9999
  width: 400px
  max-width: 400px
  height: 100vh
  max-height: calc(100vh - 120px)
  background-color: white
  padding: 1rem
  border-left: 2px solid black
  box-sizing: border-box
  border-top: 2px solid black
  overflow-x: visible
  overflow-y: scroll
  padding-left: 2rem
  .button
    position: absolute
    width: 50px
    height: 50px
    border-radius: 50%
    top: 50%
    left: 0
    z-index: 99999999
    overflow: hidden
    background-color: white
    color: transparent
    transform: translate(-50%, 50%)
    margin: 0
    padding: 0
    border: 2px solid black
    &::after
      content: '>'
      position: absolute
      right: 8px
      top: 14px
      color: black
      font-weight: bold
      color: black
      font-family: sans-serif
      font-size: 20px
  &__product-list
    li::before
      content: "+"
      display: inline-block
      margin-right: 1ch
      margin-left: 2ch
  ul
    margin: 0
    padding: 0
    li
      display: block
  &__order-details
    display: block
    padding: .25rem 0
    text-transform: capitalize
    cursor: default
    font-size: 16px
    color: #000
    font-family: sans-serif
    font-weight: bold
  &__user-name
    display: block
    cursor: default
  &__user-img
    width: 150px
    height: 150px
    overflow: hidden
    border-radius: 5px
    user-select: none
    position: relative
    &::after
      position: absolute
      content: ''
      left: 0
      top: 0
      width: 100%
      height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
